---
- name: Wait for container to be ready
  wait_for_connection:
    timeout: 60

- name: Wait for automatic updates to finish
  raw: while fuser /var/lib/dpkg/lock-frontend >/dev/null 2>&1; do sleep 2; done
  changed_when: false

- name: Install Python
  raw: apt-get update && apt-get install -y python3
  changed_when: true

- name: Allow Docker Swarm ports (TCP)
  community.general.ufw:
    rule: allow
    port: "{{ item }}"
    proto: tcp
  loop:
    - '2377'
    - '7946'
  ignore_errors: yes

- name: Allow Docker Swarm ports (UDP)
  community.general.ufw:
    rule: allow
    port: "{{ item }}"
    proto: udp
  loop:
    - '7946'
    - '4789'
  ignore_errors: yes
